ocrlayout
spacy
google-cloud-vision==1.0.0
azure-cognitiveservices-vision-computervision>=0.3.0
azure-common
azure-cognitiveservices-speech
de-core-news-md @ https://github.com/explosion/spacy-models/releases/download/de_core_news_md-2.2.5/de_core_news_md-2.2.5.tar.gz
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz
